.roadmap {
    position: relative;
    overflow: hidden;
}
.roadmap img {
    position: absolute;
    left: 0;
    top: 433px;
}
.roadmap .container {
    border-bottom: 1px solid rgba(85, 85, 85, 0.5);
}
.roadmap p {
    max-width: 590px;
    color: var(--pargraf-color);
}
.roadmap h3 {
    font-size: 20px;
    font-weight: 700;
    color: var(--blue-color);
}
.roadmap .box {
    background-color: var(--box-color);
    padding: 32px 24px;
    margin-bottom: 40px;
    border-radius: 7px;
    position: relative;
}
.roadmap .box h3 {
    color: white;
    font-size: 20px;
}
.roadmap .box a {
    background-color: white;
    border-radius: 50px;
    padding: 8px 12px;
    width: fit-content;
}
.roadmap .box p {
    font-size: 16px;
    font-weight: normal;
}
.roadmap .box a p {
    font-size: 12px;
}
.roadmap .cont {
    display: flex;
    flex-direction: column;
}
@media (min-width: 991px) {
    .true,
    .false {
        width: calc(50% - 40px);
    }
    .false {
        margin-left: auto;
    }
    .true::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        width: 10px;
        height: 10px;
        background-color: var(--box-color);
        transform: rotate(45deg) translateX(-70%);
        z-index: -1;
    }
    .false::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;

        width: 10px;
        height: 10px;
        background-color: var(--box-color);
        transform: rotate(-45deg) translate(70%);
        z-index: -1;
    }
    .true::after {
        content: "";
        position: absolute;
        top: 0;
        left: calc(100% + 40px);
        width: 2px;
        height: calc(100% + 40px);
        background-color: var(--box-color);
        transform: translateX(-50%);
        z-index: -1;
    }
    .false::after {
        content: "";
        position: absolute;
        top: 0;
        right: calc(100% + 40px);
        width: 2px;
        height: calc(100% + 40px);
        background-color: var(--box-color);
        transform: translate(50%);
        z-index: -1;
    }
    .true span {
        position: absolute;

        border-radius: 50%;
        background-color: white;
        top: 50%;
        left: calc(100% + 40px);
        width: 15px;
        height: 15px;
        transform: translate(-50%, -50%);
        z-index: 10;
    }
    .false span {
        position: absolute;

        border-radius: 50%;
        background-color: white;
        top: 50%;
        right: calc(100% + 40px);
        width: 15px;
        height: 15px;
        transform: translate(50%, -50%);
        z-index: 10;
    }
}
