.navbar1 {
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.4s;
    left: 0;
    background-color: transparent;
    z-index: 10000;
}
.scroll {
    background-color: color-mix(in oklab, var(--box-color) 80%, transparent);
    backdrop-filter: blur(3px);
}

.navbar1 .logo img {
    width: 79px;
}
.navbar1 .cont ul li a {
    font-size: 18px;
    font-weight: 600;
    margin-left: 28px;
    padding: 20px 0;
    transition: 0.6;
}
.navbar1 .butt {
    /* font-weight: normal; */
    font-size: 16px;
    color: white;
    padding: 9px 16px;
    border: 1px solid white;
    border-radius: 50px;
    transition: 0.4s;
    margin-left: 20px;
}
.navbar1 .butt:hover {
    background-color: white;
    color: var(--blue-color);
}
.navbar1 .cont ul li a:hover {
    color: white;
}
.navbar1 img {
    width: 165px;
    padding: 16px 0;
}
.navbar1 .cont ul li .active {
    color: white;
}
.navbar1 .cont ul li i {
    font-size: 14px;
}
.navpar1 .page {
    z-index: 999;
}

.navbar1 ul li ul {
    background-color: var(--main-color);
    z-index: 100;

    width: 250px;
    top: calc(100% + 24px);
    border-radius: 18px;
    padding: 16px;
}
.navbar1 ul li ul {
    left: 500px;
    background-color: color-mix(in oklab, var(--box-color) 80%, transparent);
    backdrop-filter: blur(3px);
    transition: 0.4s;
}

.navbar1 ul li ul li a {
    width: 100% !important;
    font-size: 14px !important;
    font-weight: normal !important;
    display: block !important;
    margin: 0 !important ;
    padding: 10px 16px !important;
    color: white !important;
}
.navpar1 .page a {
    cursor: pointer;
}
@media (max-width: 991px) {
    .navbar1 ul {
        display: none;
    }
}
